/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #214f56, #41414f, #4e2130);
} */
img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #231e24;
  padding: 1rem;
  perspective: 700px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.score-container {
  color: white;
}

.score {
  margin-bottom: 15px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #231e24;
}
/* .card {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.card {
  background-color: white;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}
/*styling front of the picture */
/* .card .front {
  transform: rotateX(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
/*styling back of the picture */
/* .card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
} */
.back {
  background: url("../../../public/img/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  /*transform: rotateY(90deg);
  transition-delay: 0s;*/
  cursor: pointer;
}

.card.open {
  transform: rotateY(180deg);
  cursor: pnone;
}
.game-over {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  max-width: 300px;
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* button {
  background: #214f56;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
} */

.stop-clicking {
  pointer-events: none;
}
