.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  gap: 40px;
  /* background-color: rgb(75, 3, 72); */
  background: url(watercolor-children-s-day-spanish-background_23-2149341654.png);
  overflow: hidden;
}

.startpanda {
  background: url(panda-cartoon-cute-say-hello-panda-animals-illustration-free-vector-modified_1_200x200.png);
  height: 200px;
  width: 200px;
}
.big {
  background: url(nature-forest-landscape-background_1308-71950.jpg);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: forest_move 9s linear infinite;
}
.big2 {
  background: url(nature-forest-landscape-background_1308-71950.jpg);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: columm;
  overflow: hidden;
  animation: forest_move 9s linear infinite;
}
@keyframes forest_move {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 0px;
  }
}
.div_run {
  background: url(panda_colour.png);
  width: 250px;
  height: 379px;
  top: 280px;
  position: relative;
}
@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 3000px;
  }
}
@keyframes forward {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1200px);
  }
}
.ctax {
  display: inline-block;
  background: linear-gradient(to right, rgb(8, 43, 96), rgb(11, 69, 186));
  /* color: var(--color-dark--1); */
  text-transform: uppercase;
  /* text-decoration: none; */
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
.ctab {
  display: inline-block;
  background: linear-gradient(
    to right,
    rgb(222, 226, 231),
    rgb(207, 214, 140),
    rgb(151, 205, 246)
  );
  /* color: var(--color-dark--1); */
  text-transform: uppercase;
  /* text-decoration: none; */
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
