<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <!-- Add any CSS links or stylesheets here -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>No data recorded!!</h1>
          <h2>
            Please visit these page again after all the approriate tasks has
            been completed.
          </h2>
        </div>
      </div>
    </div>
    <!-- Add any additional HTML content or scripts here -->
  </body>
</html>
